{% extends "layout.html" %}
{% block content %}

<h2>RGB LEDStrip</h2>

<div id="slider">
	<input id="slider1" type="range" min="0" max="1" step="0.1" value="0" onchange="updateSlider()"/><br/>
	<input id="slider2" type="range" min="0" max="1" step="0.1" value="0" onchange="updateSlider()"/><br/>
	<input id="slider3" type="range" min="0" max="1" step="0.1" value="0" onchange="updateSlider()"/><br/>
</div>

<br \>
<a href="/off">Strip off</a>


<h2>Powerswitches</h2>

<div>
	Switch 1
	<a href="/power/1/1">OFF</a>
	<a href="/power/1/0">ON</a>
</div>

<div>
	Switch 2
	<a href="/power/2/1">OFF</a>
	<a href="/power/2/0">ON</a>
</div>

<div>
	Switch 3
	<a href="/power/3/1">OFF</a>
	<a href="/power/3/0">ON</a>
</div>

<div>
	Switch 4
	<a href="/power/4/1">OFF</a>
	<a href="/power/4/0">ON</a>
</div>

{% endblock %}
