<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>r00m-Control</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
	</head>

	<body>
		<div class="content">
		{% block content %}
		{% endblock %}
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/fastclick.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
		<script> $(document).foundation(); </script>
	</body>
</html>
