<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>r00m-Control</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" type="text/css" />
	</head>
	<body>
		<div id="content">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
