{% extends "index.html" %}
{% block main %}
<div class="row">
<h2 class="col-8">Color &amp; Value</h2>
<div class="off col-4">
	<a href="/off">Strip off</a>
</div>
</div>

	<ul class="sliders row">
		<li class="col-12">
			<img class="sliderimages" src="{{ url_for('static', filename='img/hue.png') }}" >
			<input id="slider1" type="range" min="0" max="1" step="0.1" value="0" onchange="updateSlider()"/>
		</li>
		<li class="col-12">
			<img class="sliderimages" src="{{ url_for('static', filename='img/sat.png') }}" >
			<input id="slider2" type="range" min="0" max="1" step="0.1" value="0" onchange="updateSlider()"/>
		</li>
		<li class="col-12">
			<img class="sliderimages" src="{{ url_for('static', filename='img/val.png') }}" >
			<input id="slider3" type="range" min="0" max="1" step="0.1" value="0" onchange="updateSlider()"/>
		</li>
	</ul>

{% endblock %}
