{% extends "index.html" %}
{% block main %}
	
	<ul class="col-12 power">
		<li>
			<span>Regal</span>
			<a href="/power/1/1">OFF</a>
			<a href="/power/1/0">ON</a>
		</li>
		<li>
			<span>Verstärker</span>
			<a href="/power/2/0">OFF</a>
			<a href="/power/2/1">ON</a>
		</li>
		<li>
			<span>IKEA Lampe</span>
			<a href="/power/3/0">OFF</a>
			<a href="/power/3/1">ON</a>
		</li>
		<li>
			<span>Switch 4</span>
			<a href="/power/4/0">OFF</a>
			<a href="/power/4/1">ON</a>
		</li>

	</ul>

{% endblock %}
